.regPage {
  height: 100vh;
}

.register {
  width: 100%;
  height: calc(100vh - 50px);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(118, 118, 216, 0.5);
}

.registerContainer {
  max-height: 500px;
  height: 100%;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0px 30px;
  display: flex;
  align-items: center;
}

.registerWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.rInput {
  height: 30px;
  padding: 10px;
}

.rButton {
  border: none;
  padding: 10px 20px;
  background-color: rgb(118, 118, 216);
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

.rButton:disabled {
  background-color: rgb(253, 150, 113);
  cursor: not-allowed;
}
.regPageTitle {
  background-color: rgb(253, 150, 113);
  text-align: center;
  color: white;
  border-radius: 10px;
  margin-bottom: 50px;
  padding: 10px;
  font-size: 40px;
}
.errorMsg {
  text-align: center;
  color: red;
  text-shadow: 1px 1px 1px rgb(221, 158, 158);
}
