.header{
    position: relative;
    background-color: rgb(118, 118, 216);
    color: white;
    display: flex;
    justify-content: center;
}
.headerContainer{
    width: 100%;
    max-width: 1024px;
    margin: 20px 0px 100px 0px;
}
.headerList{
    display: flex;
    gap: 40px;
    margin-bottom: 50px;
}
.headerListItem{
    display: flex;
    align-items: center;
    gap: 10px;
}
.headerListItem.active{
    border: 1px solid rgb(255, 255, 255);
    border-radius: 15px;
    padding: 10px;
}
.headerDescription{
    margin: 20px 0px;

}
.headerBtn{
    background-color: rgb(253, 150, 113);
    color: white;
    font-weight: 500;
    border: none;
    padding: 10px;
    cursor: pointer;
}
.headerSearch{
    height: 30px;
    background-color: white;
    border: 3px solid rgb(253, 150, 113);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0px;
    border-radius: 5px;
    position: absolute;
    bottom: -25px;
    width: 100%;
    max-width: 1024px;
}
.headerIcon{
    color: lightgray;
}
.headerSearchItem{
    display: flex;
    align-items: center;
    gap: 10px;
    -webkit-touch-callout: none; 
    -webkit-user-select: none;  
    -khtml-user-select: none; 
    -moz-user-select: none;      
    -ms-user-select: none;     
    user-select: none;    
}
.headerSearchInput{
    border: none;
    outline: none;  
}
.headerSearchText{
    color: lightgray;
    cursor: pointer;
}
.date{
    position: absolute;
    top: 50px;
}